.main {
  padding: 5rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 105rem;
}

.exampleRow {
  margin: 1rem 0;
}

.exampleRow > div {
  color: #fefefe;
  background-color: #282828;
  border: 1px solid #fefefe;
}

.halfScreen {
  height: 50vh;
  border: 1px solid #181818;
  padding: 1rem 0;
}

.section {
  margin: 8rem 0;
  width: 100%;
}

.customContainer {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 800px;
  padding: 0 5rem;
}

.box {
  height: 75px;
  width: 100%;
  display: grid;
  place-items: center;
}

.box span {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.breakpoint {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  display: flex;
  background-color: #111111;
  color: #fafafa;
}

@media (min-width: 720px) {
  .breakpoint {
    left: 50%;
    transform: translateX(-50%);
  }
}
.breakpointLabel::after {
  display: block;
  content: " base";
}

@media (min-width: 512px) {
  .breakpointLabel::after {
    content: " xs";
  }
}

@media (min-width: 720px) {
  .breakpointLabel::after {
    content: " sm";
  }
}

@media (min-width: 1024px) {
  .breakpointLabel::after {
    content: " md";
  }
}

@media (min-width: 1280px) {
  .breakpointLabel::after {
    content: " lg";
  }
}

@media (min-width: 1440px) {
  .breakpointLabel::after {
    content: " xl";
  }
}

@media (min-width: 1680px) {
  .breakpointLabel::after {
    content: " xxl";
  }
}
